<!DOCTYPE html>
<html>
  <head>
    <title>Movebubble App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="minimize-box">
      <img src="arrow.png"/>
    </div>
    <div class="instruction-box">
      <p>
        Pick times that suit you.
      </p>
      <p> We'll talk to the agent and book it in.</p>
    </div>
    <div class="dates-container">
      <div class="date">
        Wed<br>
        23<br>
        Nov
      </div>
      <div class="date">
        Thu<br>
        24<br>
        Nov
      </div>
      <div class="date">
        Fri<br>
        25<br>
        Nov
      </div>
      <div class="date">
        Sat<br>
        26<br>
        Nov
      </div>
      <div class="date">
        Sun<br>
        27<br>
        Nov
      </div>
    </div>
    <div class="times-container">
      <div class="time-box">
        <p>Morning (8:00 - 12:00)</p>
      </div>
      <div class="time-box">
        <p>Afternoon (12:00 - 18:00)</p>
      </div>
      <div class="time-box">
        <p>Evening (18:00 - 22:00)</p>
      </div>
    </div>
    <div class="send-time-btn">
      <p>SELECT MULTIPLE TIMESLOTS</p>
    </div>
  </body>
</html>
