html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#container {
  height: 100vh;
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom:0;
  color: #ffffff;
  background-color: #1d85ce;
  vertical-align: middle;
}

.minimize-box {
  width: 100%;
  text-align: center;
  position: relative;
  background-color: #222e2a;
  top:0;
  float:left;
}

.minimize-box img {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.instruction-box {
  width: 100%;
  text-align: center;
  position: relative;
  float: left;
}

.dates-box {
  position: relative;
  float:left;
  width: 100%;
}
.date {
  width: 20%;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #229a74;
  border-color: black;
}


/*CSS Transitions*/

.slide-enter {
  max-height : 1000px;
  transition-property: max-height;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter.slide-enter-active {
  max-height : 1000px;
}

.slide-leave {
  max-height : 0px;
  transition-property: max-height;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-leave.slide-leave-active {
  max-height : 0;
}
